td.MuiTableCell-root-146:last-child {
    padding-right: 24px;
    color: grey;
}

td.MuiTableCell-body-148 {
  
    font-size: 1rem;
}

h2.MuiTypography-gutterBottom-95 {
    font-size: 202%;
}

div.MuiGrid-spacing-xs-8-176 > .MuiGrid-item-156 {
    padding: 0px;
}

div.SimpleMediaCard-cardUser-126 {
    margin-top: 10px;
   
}


@media (min-width: 600px) {
	h2.Dashboard-nameTitle-150 {
    margin-top: 0%;
}

}



