@media (min-width: 600px) {

	h1.Info-header-129 {
	    margin-top: 3%;
	}

	div.Info-root-128 {
    margin: 18%;
    padding: 4%;
    margin-top: 4%;
	}

	h3.Info-typeSpace-130 {
    padding: 2% 0% 2% 0%;
	}

	aside.Info-typeSpace-130 {
    padding: 2% 0% 2% 0%;
	}
  
}