div.MuiFormGroup-root-230 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}

/*h2.MuiTypography-title-84 {
  	margin-top: 9%;
    margin-bottom: 5%;
}*/

h3.MuiTypography-subheading-85 {

    margin: 0% 29% 0% 29%;
    margin-top: 6%;
    margin-bottom: 6%;
}

button.MuiButton-contained-111 {
    
    margin-top: 26px;
}
