div.MuiFormGroup-root-230 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}



h3.MuiTypography-subheading-85 {

    margin-top: 6%;
    margin-bottom: 6%;
}

button.MuiButton-contained-111 {
    
    margin-top: 26px;
}

span.MuiCheckbox-colorPrimary-238.MuiCheckbox-checked-236 {
    color: #10953bb8;
}

div#progress.MuiPaper-root-13.MuiPaper-elevation2-17.MuiPaper-rounded-14 {
    margin-left: 19%;
    margin-right: 19%;
    background-color: #10953bb8;
    margin-bottom: 28px;
    margin-top: 19px;
    padding: 4px;
}




p.MuiTypography-root-78.MuiTypography-body1-87.MuiTypography-alignCenter-91 {
	padding: 0% 8% 0% 8%;

}

h2#formTitle.MuiTypography-root-78.MuiTypography-title-84.MuiTypography-alignCenter-91 {
	font-size: 1.2rem;
	padding-bottom: 4%;
}



   