div.MuiFormGroup-root-232{
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}


@media (min-width: 600px) {

    h2#formTitle.MuiTypography-root-80.MuiTypography-title-86.MuiTypography-alignCenter-93 {
        font-size: 1.2rem;
        padding-bottom: 8%;
    }
    div.NutritionGoalCard-root-128 {
            margin: 3% 0% 8% 4%;
    } 
    div#graphPaper.MuiPaper-root-13.MuiPaper-elevation1-16.MuiPaper-rounded-14.NutritionGoalCard-root-128 {
    margin-bottom: 16%;
    margin-right: 4%;
}
 
}


h3.MuiTypography-subheading-85 {

    margin-top: 6%;
    margin-bottom: 6%;
}

button.MuiButton-contained-111 {
    
    margin-top: 26px;
}

span.MuiCheckbox-colorPrimary-245.MuiCheckbox-checked-243 {
    color: #6cb272;
}

div#progress.MuiPaper-root-13.MuiPaper-elevation2-17.MuiPaper-rounded-14 {
    margin-left: 19%;
    margin-right: 19%;
    background-color: #10953bb8;
    margin-bottom: 28px;
    margin-top: 19px;
    padding: 2%;
}


p.MuiTypography-root-78.MuiTypography-body1-87.MuiTypography-alignCenter-91 {
	padding: 0% 8% 0% 8%;

}

h2#formTitle.MuiTypography-root-78.MuiTypography-title-84.MuiTypography-alignCenter-91 {
	font-size: 1.2rem;
	padding-bottom: 4%;
}

p.MuiTypography-root-80.MuiTypography-body1-89.MuiTypography-alignCenter-93 {
    padding: 3% 8% 0% 8%
}

div#graphPaper.MuiPaper-root-13.MuiPaper-elevation1-16.MuiPaper-rounded-14.NutritionGoalCard-root-128 {
    margin-bottom: 16%
}





   