@media (min-width: 700px) {

  div.WaterGoalCard-progressColorWater-131 {
    margin-top: 19px;
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 28px;
}

div.MuiPaper-root-13.MuiPaper-elevation1-16.MuiPaper-rounded-14.WaterGoalCard-rootGraph-129 {
	margin: 4% 4% 1% 2%;
    padding-left: 6%;
}


 
}